html {
	height: 100%;
  box-sizing: border-box;
	// scroll-behavior: smooth;
}
* {
  box-sizing: inherit;
	scroll-behavior: smooth;
}
body{
	// display: flex; // FullPage
	// flex-direction: column; // FullPage
	color: $mainColor;
	// @include adaptiv-mp(18, 16, 'font-size');
	@include adaptiv-mp(18, 16, 'font-size');
	font-family: $fontFamily;
  position: relative;
  min-width: $minWidth + px;
  overflow-x: hidden;
  margin: 0;
	// height: 100%;

  &._lock {
    overflow: hidden;

		// body._lock .body-wrapper
		.body-wrapper {
			overflow-x: hidden;
		}
  }
}
.body-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100vw;
  // height: 100vh; // FullPage
  overflow-x: hidden;
}
main {
	flex-grow: 1;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
}
ol {
	padding: 0;
  margin: 0;
}

// Счётчик для ul, ol

// .list-counter
.list-counter {
	list-style-type: none;
	counter-reset: item;
	
	// .list-counter li
	li {
		position: relative;

		// .list-counter li::before
		&::before {
			position: absolute;
			top: 0;
			left: 0;
			counter-increment: item;
			content: counter(item) '.';
		}
	}
}

img {
  object-fit: cover;
}
button, input, textarea, fieldset {
  color: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}
button, input, textarea, select {
	cursor: pointer;
}
input, textarea, fieldset, select {
	&:focus-visible {
		outline: none;
	}
}
picture {
	display: flex;
	// picture source
	source {
		width: 0;
		height: 0;
	}
	// picture img
	img {
		width: 100%;
		height: 100%;
	}
}
section {
	@include adaptiv-mp(60, 30, 'padding-top');
	@include adaptiv-mp(60, 30, 'margin-bottom');
	scroll-margin: toRem(50);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
	--width: 1380px;
  --padding: 30px;
  max-width: calc(var(--width) + var(--padding) * 2);
  margin: 0 auto;
  padding: 0 var(--padding);

	@media (max-width: $mobile) {
		--padding: 12px;
	}
}

@keyframes show {
	0% {
		opacity: 0;
		transform: translateY(toRem(100))
	}
	100% {
		opacity: 1;
		transform: translateY(toRem(0))
	}
}