html {
	height: 100%;
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
}
body{
	display: flex;
	flex-direction: column;
	color: $mainColor;
	// @include adaptiv-mp(18, 16, 'font-size');
	@include adaptiv-mp(18, 16, 'font-size');
	font-family: $fontFamily;
  position: relative;
  min-width: $minWidth + px;
  overflow-x: hidden;
  margin: 0;
	height: 100%;

  &._lock {
    overflow: hidden;

		// body._lock .body-wrapper
		.body-wrapper {
			overflow: hidden;
		}
  }
}
.body-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
main {
	flex-grow: 1;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
}
ol {
	padding: 0;
  margin: 0;
}
img {
  object-fit: cover;
}
button, input, textarea, fieldset {
  color: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}
button, input, textarea, select {
	cursor: pointer;
}
input, textarea, fieldset, select {
	&:focus-visible {
		outline: none;
	}
}
picture {
	display: flex;
	// picture source
	source {
		width: 0;
		height: 0;
	}
	// picture img
	img {
		width: 100%;
		height: 100%;
	}
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
	--width: 1400px;
  --padding: 30px;
  max-width: calc(var(--width) + var(--padding) * 2);
  margin: 0 auto;
  padding: 0 var(--padding);

	@media (max-width: $mobile) {
		--padding: 24px;
	}
}