$fontFamily: PlusJakartaSans, 'sans-serif';

$fontSize: toRem(18);
$mainColor: #545971;
$darkColor: #171921;
$grayColor: #9EA3B5;

$bgColor: #142257;
$bgColorSemi: #1f3584;
$bgColorLight: #15B2F5;
$bgColorLightHover: #15b2f5be;
$white: #fff;

$maxWidth: 1920;
$minWidth: 320;

$containerWidth: 1460;

$pc: $containerWidth + px;
$tablet: 991.98px;
$mobile: 767.98px;
$mobileSmall: 479.98px;